<nav class="navbar-default navbar-static-side" role="navigation">
  <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">



        <div class="row">
            <div class="col-md-9">

                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">( <strong>{{$ctrl.carro.productos.length}}</strong> ) Productos</span>
                        <h5>Productos en tu carro</h5>
                    </div>
                    <div ng-repeat="producto in $ctrl.carro.productos" class="ibox-content">


                        <div class="table-responsive">
                            <table class="table shoping-cart-table">

                                <tbody>
                                <tr>
                                    <td width="90">
                                        <div ng-class="{'cart-product-imitation':producto.img_url==null}">
                                            <span ng-hide="producto.img_url != null" class="ng-hide">[INFO]</span>
                                            <img ng-src="{{producto.img_url}}" class="img-resp" height="180" width="240">
                                        </div>
                                    </td>
                                    <td class="desc">
                                        <h3>
                                        <a href="escritorio#/product/detail/{{producto.id_producto}}" class="text-navy">
                                            {{producto.nombre_producto}}
                                        </a>
                                        </h3>
                                        <p class="small">
                                            {{producto.descripcion}}
                                        </p>
                                        <dl class="small m-b-none">
                                            <dt>{{producto.marca}} | {{producto.modelo}}</dt>
                                        </dl>

                                        <div class="m-t-sm">
                                            <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                            |
                                            <a href ng-click="$ctrl.deleteProducto($index)" class="text-muted"><i class="fa fa-trash"></i> Eliminar producto</a>
                                        </div>
                                    </td>

                                    <td>
                                        {{producto.precio | currency:"S/. "}}
                                        <s class="small text-muted"> {{230| currency:"S/."}}</s>
                                    </td>
                                    <td width="65">
                                        <input type="text" ng-change="$ctrl.calculateTotal()" ng-model="producto.cantidad" class="form-control" placeholder="1">
                                    </td>
                                    <td>
                                        <h4>
                                            {{producto.precio | currency:"S/."}}
                                        </h4>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="ibox-content">

                        <button ng-click="$ctrl.saveVenta()" class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Validar</button>
                        <a href="escritorio#/grid" class="btn btn-white"><i class="fa fa-arrow-left"></i> Continuar comprando</a>

                    </div>
                </div>

            </div>
            <div class="col-md-3">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Resumen de la compra</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            {{$ctrl.cuentaTotal | currency:"S/. "}}
                        </h2>

                        <hr/>
                        <span class="text-muted small">
                            *For United States, France and Germany applicable sales tax will be applied
                        </span>
                        <div class="m-t-sm">
                            <div class="btn-group">
                            <button ng-click="$ctrl.saveVenta()" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Validar</button>
                            <a href="escritorio#/grid" class="btn btn-white btn-sm"> Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Soporte</h5>
                    </div>
                    <div class="ibox-content text-center">



                        <h3><i class="fa fa-phone"></i> +51 944 343 259</h3>
                        <span class="small">
                            Por favor, póngase en contacto con nosotros si tiene alguna pregunta. Estamos disponibles durante 24h.
                        </span>


                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-content">

                        <p class="font-bold">
                        Otros productos que te pueden interesar
                        </p>

                        <div ng-repeat="producto in $ctrl.productos | limitTo:2">
                            <hr/>
                            <a href="#" class="product-name"> {{producto.nombre_producto}}</a>
                            <div class="small m-t-xs">
                                {{producto.descripcion}}
                            </div>
                            <div class="m-t text-righ">

                                <a href="escritorio#/product/detail/{{producto._id}}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>




    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>
