<nav class="navbar-default navbar-static-side" role="navigation">
    <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <uib-tabset active="active">
                        <uib-tab index="0" select="alertMe()">
                          <uib-tab-heading>
                            <i class="glyphicon glyphicon-list-alt"></i> Datos Producto
                          </uib-tab-heading>
                          <div class="panel-body">

                              <fieldset class="form-horizontal">
                                  <div class="form-group col-md-12"><label class="col-sm-2">Nombre:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.nombre_producto" class="form-control" placeholder="Nombre del producto"></div>
                                  </div>
                                  <div class="form-group col-md-12"><label class="col-sm-2">Marca:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.marca" class="form-control" placeholder="Marca"></div>
                                  </div>
                                  <div class="form-group col-md-12"><label class="col-sm-2">Modelo:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.modelo" class="form-control" placeholder="Modelo"></div>
                                  </div>
                                  <div class="form-group col-md-4"><label class="col-sm-6 control-label">Precio Compra (S/.):</label>
                                      <div class="col-sm-6"><input type="text" ng-model="$ctrl.product.precio.compra" class="form-control" placeholder="S/. 0.00"></div>
                                  </div>
                                  <div class="form-group col-md-4"><label class="col-sm-6 control-label">Precio Venta ( S/. ):</label>
                                      <div class="col-sm-6"><input type="text" ng-model="$ctrl.product.precio.venta" class="form-control" placeholder="S/. 0.00"></div>
                                  </div>
                                  <div class="form-group col-md-4"><label class="col-sm-6 control-label">Cantidad:</label>
                                      <div class="col-sm-6"><input type="text" ng-model="$ctrl.product.cantidad" class="form-control" placeholder="0"></div>
                                  </div>
                                  <div class="form-group col-md-12"><label class="col-sm-2">Descripción:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.descripcion" class="form-control" placeholder="..."></div>
                                  </div>
                              </fieldset>

                          </div>
                        </uib-tab>


                        <uib-tab index="1" select="alertMe()">
                          <uib-tab-heading>
                            <i class="glyphicon glyphicon-info-sign"></i> Info. Producto
                          </uib-tab-heading>
                          <div class="panel-body">

                              <fieldset class="form-horizontal">
                                  <div class="form-group"><label class="col-sm-3">ID:</label>
                                      <div class="col-sm-9"><input type="text" ng-model="$ctrl.product.codigo" class="form-control" placeholder="HCSK-FKL93-DKSL-OS543"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Cantidad Mínima:</label>
                                      <div class="col-sm-9"><input type="text" ng-model="$ctrl.product.cantidad_min" class="form-control" placeholder="2"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Prioridad - Orden:</label>
                                      <div class="col-sm-9"><input type="text" ng-model="$ctrl.product.prioridad" class="form-control" placeholder="1"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Direccíon:</label>
                                      <div class="col-sm-9"><input type="text" ng-model="$ctrl.product.direccion" class="form-control" placeholder="Dirección"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Clasificación:</label>
                                      <div class="col-sm-9">
                                          <select ng-model="$ctrl.product.clase" class="form-control">
                                              <option value="">- Selecione clasificacion -</option>
                                              <option ng-repeat="clase in $ctrl.clasificacion" value="{{clase}}">{{clase}}</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Estado:</label>
                                      <div class="col-sm-9">
                                          <select ng-model="$ctrl.product.estado" class="form-control" convert-to-number>
                                              <option value="0" ng-selected="!$ctrl.product">En stock</option>
                                              <option value="1">Stock deshabilitado</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Título Etiqueta:</label>
                                      <div class="col-sm-9"><input type="text" ng-model="$ctrl.product.meta_tag_title" class="form-control" placeholder="..."></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Descripción Etiqueta:</label>
                                      <div class="col-sm-9"><input type="text" ng-model="$ctrl.product.meta_tag_desc" class="form-control" placeholder="..."></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Palabras clave Etiqueta:</label>
                                      <div class="col-sm-9"><input type="text" ng-model="$ctrl.product.meta_tag_keywords" class="form-control" placeholder="Galaxy, iPhone, Samsung"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-3">Descripción Prod. Tienda:</label>
                                      <div class="col-sm-9">
                                          <summernote ng-model="$ctrl.product.desc_producto"></summernote>
                                      </div>
                                  </div>
                              </fieldset>

                          </div>
                        </uib-tab>


                        <uib-tab index="2" select="alertMe()">
                          <uib-tab-heading>
                            <i class="fa fa-percent"></i> Descuentos
                          </uib-tab-heading>
                          <div class="panel-body">
                              <button type="button" ng-click="$ctrl.addDescuentos()" class="btn btn-primary btn-md">
                                  <i class="glyphicon glyphicon-plus"></i> Descuento
                              </button>
                              <div class="table-responsive" ng-show="$ctrl.product.descuentos.length>0">
                                  <table class="table table-stripped table-bordered">

                                      <thead>
                                      <tr>
                                          <th>
                                              Grupo
                                          </th>
                                          <th>
                                              Cantidad
                                          </th>
                                          <th>
                                              Descuento
                                          </th>
                                          <th style="width: 20%">
                                              Fecha de Inicio
                                          </th>
                                          <th style="width: 20%">
                                              Fecha de Venc.
                                          </th>
                                          <th>
                                              Accíon
                                          </th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr ng-repeat="descuento in $ctrl.product.descuentos">
                                          <td>
                                              <select ng-model="descuento.grupo" class="form-control">
                                                  <option ng-selected="1">Group 1</option>
                                                  <option value="2">Group 2</option>
                                                  <option value="3">Group 3</option>
                                                  <option value="4">Group 4</option>
                                              </select>
                                          </td>
                                          <td>
                                              <input type="text" ng-model="descuento.cantidad" class="form-control" placeholder="10">
                                          </td>
                                          <td>
                                              <input type="text" ng-model="descuento.descuento" class="form-control" placeholder="$10.00">
                                          </td>
                                          <td>
                                              <div class="input-group date">
                                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                  <input type="text" ng-model="descuento.date_start" class="form-control">
                                              </div>
                                          </td>
                                          <td>
                                              <div class="input-group date">
                                                  <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                                  </span><input type="text" ng-model="descuento.date_end" class="form-control">
                                              </div>
                                          </td>
                                          <td>
                                                  <button ng-click="$ctrl.deleteDescuentos($index)" class="btn btn-danger"><i class="fa fa-trash"></i> </button>
                                          </td>
                                      </tr>

                                      </tbody>

                                  </table>
                              </div>

                          </div>
                        </uib-tab>


                        <uib-tab index="3" select="alertMe()">
                          <uib-tab-heading>
                            <i class="glyphicon glyphicon-picture"></i> Imágenes
                          </uib-tab-heading>
                          <div class="panel-body">

                              <form method="post" name="myForm">
                                  <fieldset>
                                      <div ng-show="picFile.progress >= 0" class="progress progress-striped active">
                                          <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-success">
                                              <span class="sr-only">40% Complete (success)</span>
                                          </div>
                                      </div>
                                      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                          <div class="form-control" data-trigger="fileinput">
                                              <i class="glyphicon glyphicon-picture fileinput-exists"></i>
                                              <span class="fileinput-filename"></span>
                                          </div>
                                          <span class="input-group-addon btn btn-primary btn-file">
                                              <span class="fileinput-new"><i class="glyphicon glyphicon-plus"></i> Selecione Imagen</span>
                                              <span class="fileinput-exists">
                                                  <i class="glyphicon glyphicon-repeat" tooltip-placement="top" uib-tooltip="Cambiar" tooltip-append-to-body="true"></i>
                                              </span>
                                              <input type="file" type="file" ngf-select ng-model="picFile" name="file"
                                                     accept="image/*" ngf-max-size="2MB" required
                                                     ngf-model-invalid="errorFile"/>
                                          </span>
                                          <a class="input-group-addon btn btn-danger btn-outline fileinput-exists" data-dismiss="fileinput">
                                               <i class="glyphicon glyphicon-remove" tooltip-placement="top" uib-tooltip="Eliminar"></i>
                                           </a>
                                          <a ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)" href data-dismiss="fileinput" class="input-group-addon btn btn-success btn-outline fileinput-exists">
                                              <i class="glyphicon glyphicon-open" tooltip-placement="top" uib-tooltip="Subir"></i>
                                          </a>
                                      </div>
                                      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                  </fieldset>
                              </form>
                              <div class="table-responsive" ng-show="$ctrl.product.fotos.length>0">
                                  <table class="table table-bordered table-stripped">
                                      <thead>
                                      <tr>
                                          <th width="22%">
                                              Vista Previa
                                          </th>
                                          <th>
                                              Imagen Url
                                          </th>
                                          <th>
                                              Prioridad / Orden
                                          </th>
                                          <th>
                                              Acción
                                          </th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr ng-repeat="foto in $ctrl.product.fotos">
                                          <td>
                                              <img ng-src="{{foto.url}}" widht="200" height="250" class="img-resp">
                                          </td>
                                          <td>
                                              <input type="text" ng-model="foto.url" class="form-control" disabled>
                                          </td>
                                          <td>
                                              <input type="text" ng-model="foto.orden" class="form-control">
                                          </td>
                                          <td>
                                              <button class="btn btn-danger" ng-click="$ctrl.deleteFotos($index)"><i class="fa fa-trash"></i> </button>
                                          </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </div>

                          </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="panel-body" align="center">
                        <button type="button" ng-hide="$ctrl.product.edit" ng-click="$ctrl.saveProduct()" class="btn btn-primary btn-md">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Producto
                        </button>
                        <a href="escritorio#/list" ng-show="$ctrl.product.edit" ng-click="$ctrl.saveProduct()" class="btn btn-danger btn-outline btn-md">
                            <span class="glyphicon glyphicon-remove"></span> Cancelar
                        </a>
                        <button type="button" ng-show="$ctrl.product.edit" ng-click="$ctrl.saveProduct()" class="btn btn-success btn-outline btn-md">
                            <span class="glyphicon glyphicon-ok"></span> Actualizar
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>
