<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="leftmenu"></div>
    <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">


        <div class="ibox-content m-b-sm border-bottom" ng-show="showFilter">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="product_name" ng-model="$ctrl.search.nombre_producto" placeholder="Nombre Producto" class="form-control input-sm">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group addon-input">
                        <div class="input-group">
                            <input type="text" id="marca" ng-model="$ctrl.search.marca" placeholder="Marca" class="form-control input-sm">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group addon-input">
                        <div class="input-group">
                            <input type="text" id="quantity" ng-model="$ctrl.search.cantidad" placeholder="Cantidad" class="form-control input-sm">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <select name="status" id="status" ng-model="$ctrl.search.estado" class="form-control">
                            <option value="">- Estado -</option>
                            <option value="1">En stock</option>
                            <option value="0">Stock deshabilitado</option>
                            <option value="2">No disponible</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <a ng-hide="$ctrl.showCategory" href="escritorio#/product" class="btn btn-primary btn-outline"><i class="glyphicon glyphicon-plus"></i> Producto</a>
                                <button ng-hide="$ctrl.showCategory" ng-click="$ctrl.goToExport()" class="btn btn-primary btn-outline"><i class="glyphicon glyphicon-save"></i> Descargar</button>
                                <button ng-click="showFilter = !showFilter" class="btn btn-primary btn-outline visible-xs" style="float:right"><i class="glyphicon glyphicon-search"></i></button>
                                <button ng-click="showFilter = !showFilter" class="btn btn-primary btn-outline hidden-xs pull-right"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>

                                    <th>Nombre Producto</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Estado</th>
                                    <th class="text-right action-row" data-sort-ignore="true">Acción</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="producto in $ctrl.productos | filter:$ctrl.search">
                                    <td>
                                       {{producto.nombre_producto}}
                                    </td>
                                    <td>
                                        {{producto.marca}}
                                    </td>
                                    <td>
                                        {{producto.modelo}}
                                    </td>
                                    <td>
                                        {{producto.precio.venta | currency: "S/. "}}
                                    </td>
                                    <td>
                                        {{producto.cantidad}}
                                    </td>
                                    <td>
                                        <span class="label label-primary" ng-show="producto.estado == 0">En stock</span>
                                        <span class="label label-warning" ng-show="producto.estado == 1">Stock deshabilitado</span>
                                        <span class="label label-success" ng-show="producto.estado == 2">No disponible</span>
                                    </td>
                                    <td ng-show="$ctrl.showCategory" class="text-right">
                                        <a ng-click="$ctrl.addToCar(producto, $index)" tooltip-placement="top-right" uib-tooltip="Añadir al carro" class="btn-primary btn btn-xs btn-success btn-outline">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </td>
                                    <td ng-hide="$ctrl.showCategory" class="text-right">
                                        <span class="threepoints" ng-hide="producto.action" ng-click="producto.action = !producto.action"><b>. . .</b></span>
                                        <div class="btn-group" ng-show="producto.action">
                                            <a href="escritorio#/product/detail/{{producto._id}}" tooltip-placement="top" uib-tooltip="Ver" class="btn-white btn btn-xs btn-success btn-outline">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </a>
                                            <a href="escritorio#/product/edit/{{producto._id}}" tooltip-placement="top" uib-tooltip="Editar" class="btn-white btn btn-xs btn-warning btn-outline">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <button ng-click="$ctrl.deleteProduct($index, producto)" tooltip-placement="top-right" uib-tooltip="Eliminar" class="btn-white btn btn-xs btn-danger btn-outline">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>
