<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="leftmenu"></div>
    <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row" ng-show="showFilter">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon addon-search radius"><i class="glyphicon glyphicon-search"></i></span>
                                        <input type="text" ng-model="$ctrl.search" placeholder="Busqueda rápida" class="form-control input-sm radius border-left">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button ng-click="filterAdvanced = !filterAdvanced" class="btn btn-primary radius btn-sm btn-block">Búsqueda avanzada</button>
                            </div>
                            <br class="visible-xs">
                        </div>
                        <div class="row" ng-show="filterAdvanced">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon radius addon-search"><i class="glyphicon glyphicon-search"></i></span>
                                        <input type="text" ng-model="$ctrl.search.nombre_producto" placeholder="Nombre producto" class="form-control input-sm radius border-left">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group addon-input">
                                    <div class="input-group">
                                        <span class="input-group-addon radius addon-search"><i class="glyphicon glyphicon-search"></i></span>
                                        <input type="text" ng-model="$ctrl.search.marca" placeholder="Marca" class="form-control radius border-left input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group addon-input">
                                    <div class="input-group">
                                        <span class="input-group-addon radius addon-search"><i class="glyphicon glyphicon-search"></i></span>
                                        <input type="text" ng-model="$ctrl.search.modelo" placeholder="Modelo" class="form-control border-left radius input-sm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <select name="status" ng-model="$ctrl.search.estado" class="form-control radius input-sm">
                                        <option value="">- Estado -</option>
                                        <option value="0">En stock</option>
                                        <option value="1">Stock deshabilitado</option>
                                        <option value="2">No disponible</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <a ng-hide="$ctrl.showCategory" href="escritorio#/product" class="btn btn-primary btn-active radius btn-outline"><i class="glyphicon glyphicon-plus"></i> Producto</a>
                                <button ng-hide="$ctrl.showCategory" ng-click="$ctrl.goToExport()" class="btn radius btn-primary btn-outline"><i class="glyphicon glyphicon-save"></i> Descargar</button>
                                <button ng-click="showFilter = !showFilter" class="btn radius btn-primary btn-outline visible-xs" style="float:right"><i class="glyphicon glyphicon-search"></i></button>
                                <button ng-click="showFilter = !showFilter" class="btn radius btn-primary btn-outline hidden-xs pull-right"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                            </div>
                            <br class="visible-xs">
                        </div>
                        <div class="table-responsive">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>

                                    <th>Nombre Producto</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Precio Venta</th>
                                    <th ng-hide="$ctrl.showCategory">Precio Compra</th>
                                    <th>Cantidad</th>
                                    <th>Estado</th>
                                    <th ng-hide="$ctrl.showCategory">Categoria</th>
                                    <th class="text-right action-row" data-sort-ignore="true">Acción</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr context-menu="$ctrl.context_menu" ng-repeat="producto in $ctrl.productos | filter:$ctrl.search">
                                    <td>
                                       {{producto.nombre_producto}}
                                    </td>
                                    <td>
                                        {{producto.marca}}
                                    </td>
                                    <td>
                                        {{producto.modelo}}
                                    </td>
                                    <td>
                                        {{producto.precio.venta | currency: "S/. "}}
                                    </td>
                                    <td ng-hide="$ctrl.showCategory">
                                        {{producto.precio.compra | currency: "S/. "}}
                                    </td>
                                    <td>
                                        {{producto.cantidad}}
                                    </td>
                                    <td>
                                        <span class="label label-primary" ng-show="producto.estado == 0">En stock</span>
                                        <span class="label label-warning" ng-show="producto.estado == 1">Stock deshabilitado</span>
                                        <span class="label label-success" ng-show="producto.estado == 2">No disponible</span>
                                    </td>
                                    <td ng-hide="$ctrl.showCategory">
                                        {{producto.categoria.nombre_categoria}}
                                    </td>
                                    <td ng-show="$ctrl.showCategory" class="text-right">
                                        <a ng-click="$ctrl.addToCar(producto, $index)" tooltip-placement="top-right" uib-tooltip="Añadir al carro" class="btn-primary btn btn-xs btn-success btn-outline">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </td>
                                    <td ng-hide="$ctrl.showCategory" class="text-right">
                                        <span class="threepoints glyphicon glyphicon-option-horizontal"
                                              context-menu="$ctrl.context_menu" context-menu-on="click">
                                         </span>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>
