<nav class="navbar-default navbar-static-side" role="navigation">
    <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="product-images">
                                    <div ng-repeat="foto in $ctrl.product.fotos">
                                        <div>
                                            <img ng-src="{{foto.url}}" class="img-resp" height="180" width="240">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">

                                <h2 class="font-bold m-b-xs">
                                    {{$ctrl.product.nombre_producto}}
                                </h2>
                                <small>{{$ctrl.product.descripcion}}</small>
                                <hr>
                                <div>
                                    <button ng-click="$ctrl.addToCar()" class="btn btn-primary pull-right">Añadir al carro</button>
                                    <h1 class="product-main-price">{{$ctrl.product.precio.venta | currency:"S/. "}} <small class="text-muted">Exclude Tax</small> </h1>
                                </div>
                                <hr>
                                <h4>Descripción del producto</h4>

                                <div class="small text-muted">
                                    It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout. The point of using Lorem Ipsum is
                                    that it has a more-or-less normal distribution of letters, as opposed to using
                                    'Content here, content here', making it look like readable English.
                                    <br/>
                                </div>
                                <dl class="dl-horizontal m-t-md small">
                                    <dt>Marca :</dt>
                                    <dd>{{$ctrl.product.marca}}</dd>
                                    <dt>Modelo :</dt>
                                    <dd>{{$ctrl.product.modelo}}</dd>
                                </dl>
                                <div class="text-right">
                                    <div class="btn-group">
                                        <button class="btn btn-success btn-outline btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                        <button class="btn btn-success btn-outline btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="ibox-footer">
                        <span class="pull-right">
                            Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                        </span>
                        The generated Lorem Ipsum is therefore always free
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="footer">
        <footer></footer>
    </div>

</div>
