<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="leftmenu"></div>
    <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">


        <div class="ibox-content m-b-sm border-bottom" ng-show="showFilter">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="order_id" ng-model="$ctrl.search.id_venta" name="order_id" placeholder="ID Venta" class="form-control input-sm">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="status" ng-model="$ctrl.search.estado" name="status" placeholder="Estado" class="form-control input-sm">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="customer" ng-model="$ctrl.search.profile.displayName" name="customer" placeholder="Vendedor" class="form-control input-sm">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="amount" ng-model="$ctrl.search.costo_total" name="amount" placeholder="Costo" class="form-control input-sm">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <a class="btn btn-primary btn-outline"><i class="glyphicon glyphicon-plus"></i> Venta</a>
                        <button type="button" name="button" ng-click="$ctrl.goToExport()" class="btn btn-primary btn-outline"><i class="glyphicon glyphicon-save"></i> Descargar</button>
                        <button type="button" name="button" ng-click="showFilter = !showFilter" class="btn btn-primary btn-outline pull-right">
                            <i class="glyphicon glyphicon-search"></i> Buscar
                        </button>
                        <div class="table-responsive">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>

                                    <th>ID Venta</th>
                                    <th data-hide="phone">Vendedor</th>
                                    <th data-hide="phone">Costo Final</th>
                                    <th data-hide="phone">Fecha Venta</th>
                                    <th data-hide="phone,tablet" >Fecha Modificado</th>
                                    <th data-hide="phone">Estado</th>
                                    <th class="text-right action-row" data-sort-ignore="true">Acción</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="venta in $ctrl.ventas | filter:$ctrl.search">
                                    <td>
                                       {{venta.id_venta}}
                                    </td>
                                    <td>
                                        {{venta.profile.displayName}}
                                    </td>
                                    <td>
                                        {{venta.costo_total | currency:"S/. "}}
                                    </td>
                                    <td>
                                        {{venta.createAt | date:"dd/MM/yyyy '-' h:mma"}}
                                    </td>
                                    <td>
                                        {{venta.updateAt | date:"dd/MM/yyyy '-' h:mma"}}
                                    </td>
                                    <td>
                                        <span class="label label-primary" ng-show="venta.estado == 0">Realizado</span>
                                        <span class="label label-danger" ng-show="venta.estado == 1">Cancelado</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="threepoints" ng-hide="venta.action" ng-click="venta.action = !venta.action"><b>. . .</b></span>
                                        <div class="btn-group" ng-show="venta.action">
                                            <button tooltip-placement="top" ng-click="venta.action = !venta.action" uib-tooltip="Ver" class="btn-white btn btn-xs btn-success btn-outline">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </button>
                                            <button tooltip-placement="top" ng-click="venta.action = !venta.action" uib-tooltip="Editar" class="btn-white btn btn-xs btn-warning btn-outline">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </button>
                                            <button ng-click="venta.action = !venta.action; $ctrl.deleteVenta($index, venta)" tooltip-placement="top-right" uib-tooltip="Eliminar" class="btn-white btn btn-xs btn-danger btn-outline">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="date_added" type="text" ng-model="search.createAt" class="form-control input-sm" placeholder="Fecha Venta" value="03/04/2017">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input id="date_modified" type="text" ng-model="search.updateAt" class="form-control input-sm" placeholder="Fecha Modificacion" value="03/06/2017">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>
