<nav class="navbar-default navbar-static-side" role="navigation">
    <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div ng-repeat="producto in $ctrl.productos" class="col-md-3">
                <grid-product producto="producto"></grid-product>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer></footer>
    </div>

</div>
