<!DOCTYPE html>
<html lang="en" ng-app="tiendaexclusiva">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>.:: Tienda Exclusiva ::.</title>
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
      <link href="dist/assets/css/bootstrap.min.css" rel="stylesheet">
      <link href="dist/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

      <!-- Toastr style -->
      <link href="dist/assets/css/plugins/toastr/toastr.min.css" rel="stylesheet">

      <!-- FooTable -->
      <link href="dist/assets/css/plugins/footable/footable.core.css" rel="stylesheet">

      <link href="dist/assets/css/plugins/summernote/summernote.css" rel="stylesheet">
      <link href="dist/assets/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">

      <link href="dist/assets/css/plugins/slick/slick.css" rel="stylesheet">
      <link href="dist/assets/css/plugins/slick/slick-theme.css" rel="stylesheet">

      <link href="dist/assets/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
      <link href="dist/assets/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

      <link href="dist/assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet">

      <!-- Base css Inspinia -->
      <link href="dist/assets/css/animate.css" rel="stylesheet">
      <link href="dist/assets/css/style.css" rel="stylesheet">

      <!-- Principal css app project -->
      <!-- <link href="dist/styles/vendor.css" rel="stylesheet"> -->
      <link href="dist/styles/base.css" rel="stylesheet">
      <link href="dist/styles/general.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
        <div class="background-over"></div>
        <div ui-view></div>
    </div>

    <!-- Main scripts angular project -->
    <script src="/dist/scripts/vendor.js"></script>
    <script src="/dist/scripts/main.js"></script>
    <script src="/dist/scripts/templates.js"></script>

    <!-- Mainly scripts -->
    <script src="dist/assets/js/jquery-3.1.1.min.js"></script>
    <script src="dist/assets/js/bootstrap.min.js"></script>
    <script src="dist/assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="dist/assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="dist/assets/js/plugins/pace/pace.min.js"></script>

    <!-- Data picker -->
    <script src="dist/assets/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- slick carousel-->
    <script src="dist/assets/js/plugins/slick/slick.min.js"></script>

    <!-- Jasny -->
    <script src="dist/assets/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <script src="dist/assets/js/plugins/dataTables/datatables.min.js"></script>

    <!-- FooTable -->
    <script src="dist/assets/js/plugins/footable/footable.all.min.js"></script>

    <script src="dist/assets/js/inspinia.js"></script>
  </body>
</html>
