<!DOCTYPE html>
<html lang="en" ng-app="tiendaexclusiva">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>.:: Tienda Exclusiva ::.</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href="dist/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="dist/assets/css/animate.css" rel="stylesheet">
    <link href="dist/assets/css/style.css" rel="stylesheet">
    <link href="dist/styles/base.css" rel="stylesheet">
</head>

<body class="gray-bg login-background">
    <div class="background-over"></div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">KT.</h1>

            </div>
            <h3 style="color: white;">Bienvenido a Import KT.</h3>
            <p style="color: navajowhite;">Estamos a tu servicio, cualquier duda o consulta enviar un E-Mail a soporte@importk.com
            </p>

            <form class="m-t" role="form" action="/login" method="post">
                <div class="form-group">
                    <input type="email" class="form-control radius" name="username" id="inputEmail3" placeholder="Usuario" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control radius" id="inputPassword3" placeholder="Contraseña" required="">
                </div>
                <button type="submit" class="btn btn-primary block radius btn-active full-width m-b">Iniciar Sessión</button>
                <p class="text-muted text-center">
                    <% if (error) { %>
                        <span class="error-login" style="color:red">
                            <i class="fa fa-close"></i>
                            <%= error %>
                        </span>
                    <% } %>
                </p>

                <a href="#">
                    <small>Olvidó su contraseña?</small>
                </a>

                <p class="text-muted text-center">
                    <small>¿No tiene una cuenta?</small>
                </p>
                <a class="btn btn-sm btn-success radius btn-block" href="/">Crear una cuenta</a>
            </form>
            <p class="m-t">
                <small>Sistema de Import KT en base Bootstrap 3 &copy; 2017</small>
            </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/dist/scripts/vendor.js"></script>
    <script src="/dist/scripts/main.js"></script>
    <script src="/dist/scripts/templates.js"></script>

</body>
</html>
