<!DOCTYPE html>
<html lang="en" ng-app="tiendaexclusiva">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>.:: Tienda Exclusiva ::.</title>

    <link href="dist/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="dist/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="dist/assets/css/animate.css" rel="stylesheet">
    <link href="dist/assets/css/style.css" rel="stylesheet">
    <link href="dist/styles/base.css" rel="stylesheet">
</head>

<!-- <body class="gray-bg login-background">
    <div class="background-over"></div>
    <div class="loginColumns animated fadeInDown" style="color: #e4e4e4;">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Mi Tienda Exclusiva</h2>

                <p>
                    Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                </p>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>

                <p>
                    When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>

                <p>
                    <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content" style="border-top: 0;">
                    <form class="m-t" role="form" action="/login" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" name="username" id="inputEmail3" placeholder="Usuario" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Contraseña" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Iniciar Sessión</button>
                        <p class="text-muted text-center">
                            <% if (error) { %>
                                <span class="error-login" style="color:red">
                                    <i class="fa fa-close"></i>
                                    <%= error %>
                                </span>
                            <% } %>
                        </p>

                        <a href="#">
                            <small>Olvidó su contraseña?</small>
                        </a>

                        <p class="text-muted text-center">
                            <small>¿No tiene una cuenta?</small>
                        </p>
                        <a class="btn btn-sm btn-success btn-block" href="/">Crear una cuenta</a>
                    </form>
                    <p class="m-t">
                        <small>Sistema de Mi Tienda Exclusiva en base Bootstrap 3 &copy; 2017</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="separator-login"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Copyright Mi Tienda Exclusiva
            </div>
            <div class="col-md-6 text-right">
               <small>© 2017 - 2021</small>
            </div>
        </div>
    </div>
  <script src="/dist/scripts/vendor.js"></script>
  <script src="/dist/scripts/main.js"></script>
  <script src="/dist/scripts/templates.js"></script>
</body> -->

<body class="gray-bg login-background">
    <div class="background-over"></div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">KT.</h1>

            </div>
            <h3>Bienvenido a Import KT.</h3>
            <p>Estamos a tu servicio, cualquier duda o consulta enviar un E-Mail a soporte@importk.com
            </p>
            <p>Iniciar session. Para ver lo increible.</p>
            <form class="m-t" role="form" action="/login" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" name="username" id="inputEmail3" placeholder="Usuario" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Contraseña" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Iniciar Sessión</button>
                <p class="text-muted text-center">
                    <% if (error) { %>
                        <span class="error-login" style="color:red">
                            <i class="fa fa-close"></i>
                            <%= error %>
                        </span>
                    <% } %>
                </p>

                <a href="#">
                    <small>Olvidó su contraseña?</small>
                </a>

                <p class="text-muted text-center">
                    <small>¿No tiene una cuenta?</small>
                </p>
                <a class="btn btn-sm btn-success btn-block" href="/">Crear una cuenta</a>
            </form>
            <p class="m-t">
                <small>Sistema de Import KT en base Bootstrap 3 &copy; 2017</small>
            </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/dist/scripts/vendor.js"></script>
    <script src="/dist/scripts/main.js"></script>
    <script src="/dist/scripts/templates.js"></script>

</body>
</html>
