<nav class="navbar-default navbar-static-side" role="navigation">
  <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">


        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="order_id">ID Venta</label>
                        <input type="text" id="order_id" ng-model="search.id_pedido" name="order_id" placeholder="ID Pedido" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="status">Estado Venta</label>
                        <input type="text" id="status" ng-model="search.estado" name="status" placeholder="Estado" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="customer">Vendedor</label>
                        <input type="text" id="customer" ng-model="search.profile.displayName" name="customer" placeholder="Vendedor" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="date_added">Fecha Pedido</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="date_added" type="text" ng-model="search.createAt" class="form-control" value="03/04/2017">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="date_modified">Fecha Modificado</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input id="date_modified" type="text" ng-model="search.updateAt" class="form-control" value="03/06/2017">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="amount">Costo Final</label>
                        <input type="text" id="amount" ng-model="search.costo_total" name="amount" placeholder="Costo" class="form-control">
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                            <tr>

                                <th>ID Pedido</th>
                                <th data-hide="phone">Vendedor</th>
                                <th data-hide="phone">Costo Final</th>
                                <th data-hide="phone">Fecha Pedido</th>
                                <th data-hide="phone,tablet" >Fecha Modificado</th>
                                <th data-hide="phone">Estado</th>
                                <th class="text-right">Acción</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="pedido in $ctrl.pedidos | filter:search">
                                <td>
                                   {{pedido.id_pedido}}
                                </td>
                                <td>
                                    {{pedido.profile.displayName}}
                                </td>
                                <td>
                                    {{pedido.costo_total | currency:"S/. "}}
                                </td>
                                <td>
                                    {{pedido.createAt | date:"dd/MM/yyyy '-' h:mma"}}
                                </td>
                                <td>
                                    {{pedido.updateAt | date:"dd/MM/yyyy '-' h:mma"}}
                                </td>
                                <td>
                                    <span class="label label-primary">{{pedido.estado}}</span>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button tooltip-placement="top" uib-tooltip="Ver" class="btn-white btn btn-xs btn-success btn-outline">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </button>
                                        <button tooltip-placement="top" uib-tooltip="Editar" class="btn-white btn btn-xs btn-warning btn-outline">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        <button ng-click="$ctrl.deletePedido($index, pedido)" tooltip-placement="top" uib-tooltip="Eliminar" class="btn-white btn btn-xs btn-danger btn-outline">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>
