<div class="ibox">
    <div class="ibox-content product-box active">

        <div ng-class="{'product-imitation':producto.fotos.length==0}">
            <span ng-hide="producto.fotos.length>0">[INFO]</span>
            <img ng-src="{{producto.fotos[0].url}}" class="img-resp" height="180" width="240">
        </div>
        <div class="product-desc">
            <span class="product-price">
                {{producto.precio.venta | currency:"S/. "}}
            </span>
            <small class="text-muted">{{producto.marca}} | {{producto.modelo}}</small>
            <a href="#" class="product-name"> {{producto.nombre_producto}}</a>

            <div class="small m-t-xs">
                {{producto.descripcion}}
            </div>
            <div class="m-t text-righ">

                <a href="escritorio#/product/detail/{{producto._id}}" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
            </div>
        </div>
    </div>
</div>
