<div class="directive-help">
<p class="cont-label-directive-help">
<span class="label-directive-help" ng-repeat="select in selected">{{select}}:</span>
<input class="input-ghost" type="text" ng-model="texto" typeahead-no-results="noResults" typeahead-on-select="selectValue($item,$event)" uib-typeahead="sugg._id.title for sugg in autocomplete | filter:$viewValue" class="form-control" ng-keyup="writeText($event)">
</p>
</div>
<div class="cont-positions-help" style="overflow: auto; height: 190px;">
  <div ng-hide="level==6">NIVEL: {{level}}</div>
  <div class="globo-position pointer" ng-repeat="auto in autocomplete track by $index" ng-hide="positions.length>0" ng-click="selectValue(auto)" data-drag="true" data-jqyoui-options="{revert: 'invalid',helper: 'clone'}" ng-model="auto" jqyoui-draggable="{animate:true,placeholder: 'keep'}">
    {{auto._id.title}}
  </div>
  <div class="globo-position pointer" ng-repeat="position in positions track by $index" ng-click="selectPuesto(position)" data-drag="true" data-jqyoui-options="{revert: 'invalid',helper: 'clone'}" ng-model="position" jqyoui-draggable="{animate:true,placeholder: 'keep'}">
    {{position._id.title}}
  </div>
  <div style="clear:both;"></div>

  <div ng-hide="positions.length>0">
    <div>PUESTOS ONET: Nivel {{level}}</div>
    <div class="globo-position pointer" ng-repeat="onet in positionsOnet track by $index" ng-click="selectPuesto(onet)" data-drag="true" data-jqyoui-options="{revert: 'invalid',helper: 'clone'}" ng-model="onet" jqyoui-draggable="{animate:true,placeholder: 'keep'}">
      {{onet._id.title}}
    </div>
  </div>
  <div style="clear:both;"></div>
</div>
<style media="screen">
  .ui-draggable-dragging{
    position: fixed !important;
  }
</style>
