<div class="col-lg-10">
    <h2>{{location.page}}</h2>
    <ol class="breadcrumb">
        <li ng-repeat="ubi in location.list" ng-class="{'active': location.list.length==($index+1)}">
            <a href="escritorio#{{ubi.url}}" ng-class="{'negrita':location.list.length==($index+1)}">{{ubi.name}}</a>
        </li>
    </ol>
</div>
<div class="col-lg-2">
    <a ng-show="carro.edit" href="escritorio#/car/{{user._id}}" style="margin-top:28px" class="btn btn-primary pull-right">
        <i class="fa fa fa-shopping-cart"></i> Carro
    </a>
</div>
<style media="screen">
    .negrita{
        font-weight: bold;
    }
</style>
