<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element" uib-dropdown on-toggle="toggled(open)">
                <span>
                    <img alt="image" class="img-circle" src="dist/assets/img/profile_small.jpg" />
                </span>
                <a data-toggle="dropdown" uib-dropdown-toggle href>
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">{{user.profiles[0].name}} {{user.profiles[0].lastName}}</strong>
                        </span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </span>
                 </a>
                  <ul class="dropdown-menu animated fadeInRight m-t-xs" uib-dropdown-menu aria-labelledby="simple-dropdown">
                      <li><a href="profile.html">Profile</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="mailbox.html">Mailbox</a></li>
                      <li class="divider"></li>
                      <li><a href="login.html">Logout</a></li>
                  </ul>
            </div>
            <div class="logo-element">
                IN+
            </div>
        </li>

        <li class="active">
            <a href="escritorio#/grid"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Tienda</span></a>
        </li>
        <li>
            <a href="escritorio#/product"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Nuevo Producto</span></a>
        </li>
        <li>
            <a href="escritorio#/list"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Lista Productos</span></a>
        </li>
        <li>
            <a href="escritorio#/orders"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Pedidos</span></a>
        </li>
    </ul>
</div>
