<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element">
                <span>
                    <img alt="image" class="img-circle" src="dist/assets/img/profile_small.jpg" />
                </span>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Carlos Trelles</strong>
                     </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="mailbox.html">Mailbox</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            <div class="logo-element">
                IN+
            </div>
        </li>

        <li class="active">
            <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Tienda Exclusiva</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class="active"><a href="escritorio#/puestos">Productos</a></li>
                <li><a href="escritorio#/list">Products list</a></li>
                <li><a href="ecommerce_product.html">Product edit</a></li>
                <li><a href="ecommerce_product_detail.html">Product detail</a></li>
                <li><a href="ecommerce-cart.html">Cart</a></li>
                <li><a href="ecommerce-orders.html">Orders</a></li>
                <li><a href="ecommerce_payments.html">Credit Card form</a></li>
            </ul>
        </li>
    </ul>
</div>
