
/* INIT TRANSCRIPTION */
.time-color{
  color: darkblue !important;
  text-decoration: underline !important;
}
.parts{
  text-decoration: initial;
  color: white;
  letter-spacing: 0.5pt;
}
.parts:focus, .parts:hover {
  color: darkblue;
}
/*END TRANSCRIPTION*/

.flex{
  display: inline-flex;
}
.separator-panel{
  height: 15px;
}
.timelines-label{
  color: white;
  font-size: 10px;
  padding-left: 4px;
  position: absolute;
  z-index: 3;
  font-size: 8.5pt;
}
.config-icon{
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-right: 30px;
}

/* INIT VIDEO CONTENT REVIEW*/
.videogular-review{
  background-color: transparent !important;
}
.cont-videoreview{
  background-color: #262626;
}
.vid-controls{
  display: none;
}
.video-time{
  font-size: 8.5pt !important;
  font-weight: bold;
}
.video-veloc{
  margin-top: -4px;
  font-size: 8.5pt !important;
  font-weight: bold;
}
.video-play{
  width: 0px;
  padding-left: 3px
}
.video-volume{
  width: 5px;
}

/* END VIDEO CONTENT REVIEW*/

.check-label{
  width: 100%;
  text-align: left;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 10px;
  padding-bottom: 2px;
}

.check-label>label{
  color: #9f9f9f;
  margin-bottom: 9px;
  font-size: 8.5pt;
  color: #616161;
}

.heading-pane{
  background: rgba(0, 0, 0, 0.44) !important;
  border-radius: 0 !important;
  padding: 5.5px 8px !important;
  color: #ffd602;
  height: 30px;
}

.btn-timeline>span{
  color: #ffd602 !important;
}

.icons-review{
  float: right;
  cursor: pointer;
  margin-right: 12px;
}

.heading-pane>a {
  color: #ffd602;
}

.header-calif{
  color: #90949c;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 20px 30px 0 30px;
}

.tabs-review{
  height: 213px;
  margin-top: 33px;
}

.progressbar{
  font-size: 30.7143px;
  position: absolute;
  color: #bbb;
  font-weight: 100;
  line-height: 1;
}

.dropdown-menu>li>a>span{
  color: #ffd602;
}

.dropdown-position{
  position: absolute;
}

.panel-review{

}

.comment-yellow{
  background-color: #ffd600;
  color: #262626;
}

.comment-dark{
  background-color: #262626;
  color: white;
}

.input-area-review{
  bottom: 0;
  position: absolute;
  padding: 8px 12px;
  background-color: black;
  border-top: 2px solid #ffd600!important;
  box-shadow: inset -1px 23px 10px -24px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset -1px 23px 10px -24px rgba(0,0,0,0.25);
}

.dropdown-submenu>.dropdown-menu {
    top: 20px;
    width: 350px;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.max-vid {
    height: 225px;
}
.max-comment{
  height: 352px;
}

@media screen and (max-width: 999px) {
  .max-vid {
      height: 225px;
  }
  .max-comment{
    height: 352px;
  }
}

@media screen and (min-height: 625px){
  .max-vid {
    height: 260px;
  }
  .max-comment{
    height: 397px;
  }
  #panel-body-review {
    min-height: 375px!important;
    max-height: 375px!important;
    margin-right: 0px!important;
  }
  .panel-transcript{
    max-height: 356px !important;
  }
  .tab-scroll-review {
    height: 170px;
    overflow-y: overlay;
    overflow-x: hidden;
  }

  .actual-position:after {
    height: 170px;
  }
}

input[type="checkbox"] {
    margin: 2px 0 0 !important;
}

.review-question-chat-review {
    display: inline-block;
}

.question-chat-review {
    color: #262626;
    background-color: #ff8f00;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
}

.comment-chat-review {
    background-color: #262626;
    color: white;
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
}

.review-comment-chat {
    width: 100%;
    display: inline-block;
}

#barracont > div{
  background-color: transparent;
  display: inline-block;
  height: 0;
}

.bar-currents {
    border-right: 2px solid red;
}

.panel-transcript{
  color: white;
  letter-spacing: 0.5pt;
  overflow-y: auto;
  max-height: 311px;
  padding: 30px;
}

.video-control-pane{
  background-color: black;
  height: 20px;
}

.panel-control{
  height: 15px;
  padding: 0;
  display: inline-flex;
}

.play-volume-pane{
  height: 15px;
  width: 54px;
}

.bar-time-video{
  height: 20px;
  background-color: #d1d1d1;
  padding: 0;
}

.rec-icon{
  height: 13px;
  width: 13px;
  margin-top: 1px;
  background: url("../img/rec.svg") center no-repeat;
  float: left;
  vertical-align: middle;
}

.times-row{
  height: 15px;
  width: 54px;
}

.line{
  position: absolute;
  top: 0;
  height: 15px;
  background-color: #ffb300;
}

.dropdown-menu > li > a {
  color: white;
}

.menu-drop{
  font-size: 12px;
  background-color: #262626;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  box-shadow: none;
  border: none;
}

.dropdown-menu .divider {
  margin: 2px 0;
}
.separator{
  padding: 0 10px;
}

.modal-center{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
}

.panel-calif{
  width: 573px;
  height: 285px;
}

.panel-info-option{
  width: 342px;
  height: 260px;
}

.toltip-felt{
  height: 10px;
}

.options-icon{
  color: #ffd600;
  font-size: 14px;
}

.shadow{
  box-shadow: 0px 8px 5px -2px rgba(0,0,0,0.3);
}

.tooltip-inner {
    color: #262626;
    background-color: #d1d1d1;
    border-radius: 3px;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #d1d1d1;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #d1d1d1;
}

videogular button, [videogular] button {
    font-weight: bold !important;
}

.buton-timeline{
  width: 136px;
}

.buton-timeline:hover {
  background-color: #262626 !important;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none !important;
    background: #ffd600;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffd600;
}

.scroller{
  overflow: auto;
}

.messages-panel{
  padding-left: 20px;
  padding-right: 20px;
  min-height: 375px;
  max-height: 375px;
}

.pause-icon{
  height: 13px;
  width: 13px;
  margin-top: 1px;
  background: url("../img/pausar.svg") center no-repeat;
  float: left;
  vertical-align: middle;
}

.messages-panel:hover,.pause-icon:hover{
  cursor: pointer;
}
