/*.col-md-1 , .col-md-8,.col-md-4,.col-md-6{
  background-color: grey;
}*/

html{
  height: 100% !important;
  width: 100% !important;
}

body{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: #dadada;
  height: 100% !important;
  width: 100% !important;
}

.h2{
  letter-spacing: 1.5pt;
}

.navbar{
  margin-bottom: 15px;
}

form{
  max-width: none !important;
  margin: 0 !important;
}

.bubleLeft,.bubleRigth{
  width: 14px;
  height: 14px;
  text-align: center;
  padding: 1px 0px 0px 5px;
  font-size: 12px;
}

.bubleLeft{
  color: #64CCEC;
  margin-right:10px;
}

.bubleRigth{
  color:#FD856A;
  /*margin-left: 10px;*/
}

.body-rigth{
  /*float: right;*/
  /*width: 92%;*/
}

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  /*margin-bottom: 10px;*/
  padding-bottom: 2.5pt;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.tags-body{
  height: 160px;
  padding-bottom: 42px;
  overflow: auto;
}

#panel-body,#panel-body-video{
  min-height: 268px!important;
  max-height: 268px!important;
  overflow: auto;
}

#panel-body-review{
  min-height: 332px!important;
  max-height: 332px!important;
  padding-top: 28px;
}

.tab-content{
  padding: 15px 0px;
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -moz-box-shadow: 0px 3px 10px #979797;
  -webkit-box-shadow: 0px 3px 10px #979797;
  box-shadow: 0px 3px 10px #979797;

}

.tab-scroll-video{
  width: 99%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab-scroll-review{
  overflow-y: overlay;
  overflow-x: hidden;
}

.tab-scroll,.tab-scroll-video{
  height: 140px;
}

.tab-scroll{
  padding:0 15px;
  overflow-y: auto;
  width: 100%;
}

.tab-scroll-video{
  padding-right: 1%;
}

.btn-label{
  letter-spacing: 0.2pt;
  background-color: #9f9f9f;
  color: #FFF;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: content-box;
  font-family: helvetica, arial, sans-serif;
  font-size: 7.5pt;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  padding: 3px 8px;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}

.span-label{
  display: inline-block;
  min-width: 10px;
  padding: 3px 4px 2px 4px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #606060;
  border-radius: 5px;
  margin-left: 2px;
}
.kdy-send{
  background: transparent url(../img/icono_enviar.png);
  width: 22px;
  height: 20px;
}

#btn-chat,#btn-tag{
  background-color: transparent!important;
  border: none!important;
  width: 33px;
  padding: 2px 6px;
}

.btn-label:hover{
  border: 1px solid #bbb;
}

.col-md-12 ol li{
  cursor: pointer;
}

.tab-section{
  margin-top: 15px;
  margin-bottom: 15px;
}

.tab-section-review{
  /*margin-top: 15px;*/
}

.tab-white{
  background-color: white;
}

.primary-font{
  font-size: 10px;
  margin-left: 5px;
}

.question-text{
  text-align: right;
  margin: 0!important;
  width: 100%;
  font-size: 8.5pt !important;
}

.contenedor-question-chat{
  width: 90%;
  margin-left: 10%;
  display: inline-block;
}

.btn-content-question{
  width: 15%;
  float: right;
  margin-right:2px;
}

.btn-content-question span,.btn-content-comment span{
  cursor: pointer;
}

.question-chat{
  max-width: 84%;
  color:#606060;
  font-weight: bold;
  background-color: #d1d1d1;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  overflow-x: hidden;
  float: right;
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}


/*.question-chat:after {
content: "";
position: relative;
display: inline-block;
bottom: -15px;
right: -400px;
width: 0px;
height: 0px;
border: 5px solid #F5FF8D;
border-left-color: transparent;
border-bottom-color: transparent;
}*/

.comment-text{
  margin: 0!important;
  width: 100%;
  font-size: 8.5pt !important;
  letter-spacing: 0.2pt;
}

.contenedor-comment-chat{
  width: 90%;
  display: inline-block;
}

.btn-content-comment{
  width: 15%;
  float: left;
  margin-left: 2px;
}

.comment-chat{
  background-color: #FFF;
  color:#606060;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  max-width: 84%;
  cursor: pointer;
  overflow-x: hidden;
  float: left;
  -moz-box-shadow: 0px 2px 5px #6b6b6b;
  -webkit-box-shadow: 0px 2px 5px #6b6b6b;
  box-shadow: 0px 2px 5px #6b6b6b;
}

/*.comment-chat:after {
content: "";
position: relative;
display: inline-block;
bottom: -15px;
right: 10px;
width: 0px;
height: 0px;
border: 5px solid #50CB86;
border-right-color: transparent;
border-bottom-color: transparent;
}*/

.clearfix:after{
  display: none;
}

/*.question-text,.comment-text{
text-align: justify;
}*/

.btn-kdy{
  font-size: 10px!important;
  margin-right: 5px;
  margin-bottom: 5px;
}

#last_li{
  /*display: none;*/
}



.box-heading{
  flex: 1;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  color: #90949c;
  padding: 8px 10px;
}

.box-heading-kdy{
  font-size: 12pt;
  letter-spacing:0.1em;
  text-align: center;
  background-color: #FFF;
}

.panel-chat,.panel-timeline,.panel-chat-video,.panel-tag{
  position: relative;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  margin-bottom: 15px!important;
  -moz-box-shadow: 0px 3px 10px #979797;
  -webkit-box-shadow: 0px 3px 10px #979797;
  box-shadow: 0px 3px 10px #979797;
}

.panel-chat,.panel-chat-video,.panel-tag{
  background: url(../img/fondo.jpg) center repeat;
}
.panel-timeline-comment{
  position: relative;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  /*margin-bottom: 15px!important;*/
}

.panel-chat,.panel-chat-video{
  height: 356px;
}

.panel-chat-review{
  height: 352px;
  background-color: rgba(0,0,0,0.5);
}

.label-time{
  margin-left: 5px;
  color: #9f9f9f;
  font-size: 7.5pt;
}

.label-time-question{
  color: #9f9f9f;
  font-size: 7.5pt;
}

videogular,videogular vg-media,videogular vg-media video{
  max-height: 356px!important;
}

textarea{
  resize: none;
}

.input-kdy{
  padding: 2px 10px;
  height: 30px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.sinPadding{
  padding-right: 0!important;
}

@media all and (max-width: 1024px) {
  .panel-chat {
    height: 332px;
  }
}

@media all and (max-width: 960px) {
  .sinPadding{
    padding-right: 15px!important;
  }
}

/*@media all and (max-width: 778px) {
.sinPadding{
padding-right: 15px!important;
}
}*/


.input-area{
  bottom: 0;
  position: absolute;
  padding: 8px 12px;
  margin: 0 10px;
  width: 95%;
  background-color: transparent!important;
  border-top: 2px solid #fccd6d!important;
  box-shadow: inset -1px 23px 10px -24px rgba(0,0,0,0.25);
  webkit-box-shadow: inset -1px 23px 10px -24px rgba(0,0,0,0.25);
}

.nav-tabs > li > a:hover {
  border-color: #ddd #ddd #ddd;
}

.nav-link{
  color: #365899;
}

.tab-interview > a{
  padding: 7px 10px!important;
  background-color: #9f9f9f;
  color:#FFF;
  margin-right:0px!important;
  border-radius: 0px!important;
  letter-spacing: 0.1em;
  font-size:7.5pt;
  font-weight: bold;
}

.tab-interview > a:hover{
  color:#9f9f9f;
}

.tab-interview .active{
  color:#9f9f9f;
}

.header-question{
  text-align: right;
}

.yellow {
  color: #faebcc;
}

.red {
  color: #d75452;
}

/*Estilos para linea con marcas de comentarios*/
.comment-mark-content{
  display: inline-block;
  width: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
  top:-9px;
  position: relative;
  height: 4px;
}

.bar-current{
  background-color:#fe9207!important;
}

.comment-mark{
  list-style: none;
  position: absolute;
  width: 1px;
  height: 4px;
  background-color: red;
  z-index: 1;
}

#comments-line{
  width: 100%;
  float: left;
  margin-top: -10px;
}

.comments-line-content{
  display: inline-block;
  width: 100%;
}

.comments-line-label{
  float:left;
  margin-left: 10px;
}


.label-actual-position{
  position: absolute;
  left: -12px;
  top: -19px;
  font-size: 10px;
}
.actual-position{
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  /*border: 7px solid red;*/
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  margin-left: -0.5px;
  top: 20px;
}

.actual-position:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 1px;
  height: 135px;
  border: 0;
  background-color: red;
  z-index: 4;
}

#contextMenu {
 position: absolute;
 display:none;
 z-index: 5;
}

.cont-imp-cal{
  margin-bottom: 10px;
}

.bar-imp-qal{
  width:61%;
}

#btn-input{
  background: transparent;
  border: none;
  color:#606060;
  box-shadow: none;
}

textarea#btn-input:focus {
  box-shadow: none;
}

.commentShow{
  background-color: rgba(0,0,0,.5);
  text-align: center;
  color: #FFF;
  position: absolute;
  padding: 10px;
  bottom: 0;
  width: 96.5%;
}

/*Clases para la seccion del dashboard*/
.inputModal{
  width: 100%;
}

.add-comp{
  max-height: 200px;
  overflow-y: auto;
}

.item-comp{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.item-comp:hover{
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.cont-panel{
  max-height: 301px;
  overflow-y: auto;
}

.btn-url{
  position: absolute;
}

.btn-assign,.btn-edit,.btn-delete,.btn-edit-user,.btn-assign-user{
  position: absolute;
  top: 13px;
}

.btn-url,.btn-delete,.btn-edit-user{
  right: 10px;
}

.btn-edit{
  right: 55px;
}

.btn-assign{
  right: 100px;
}

.btn-assign-user{
  right: 2%;
}

.btn-url{
  top: 20px;
}

.group-url-copy{
  width:100%;
}

.url-copy{
  width: 348px!important;
}

.end-review{
  position: absolute;
  top: 1%;
  right: 5%;
}
/*Formato del scrollbar*/
::-webkit-scrollbar{
    width: 7px;
    background: #fe9207;
}

::-webkit-scrollbar-thumb {
  background: #fe9207;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(253,146,7,0.8);
  cursor: pointer;
}

/*Formato para los controles de videogular*/
.cont-vg-controller{
  position: absolute;
  bottom: 0;
  z-index: 3;
  /*height: 50px;*/
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.btn-vg-play,.btn-vg-pause,.btn-vg-volumen,.btn-vg-fullscreen{
  height: 30px;
  width: 30px;
  padding: 7px 9px 7px 9px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  float:left;
  color:#FFF;
}

.cont-vg-bar{
  height: 3px;
  background-color:#d1d1d1;
  float: left;
  width: 100%;
  margin-le
}

.vg-bar{
  position: relative;
  height: 3px;
  top:-17px;
  background-color:#ffd501;
}

/*.cont-vg-bar:hover{
height: 4px;
}*/

.cont-time-vg{
  float: left;
  margin: 5px;
  color: #FFF;
}

.nullpadding{
  padding: 0;
}

videogular, [videogular] {
  background-color: #fff !important;
}

.cont-videogular,.cont-videocall{
  padding-left:15px;
  padding-right:15px;
  background-color:#fff;
  max-height: 356px;
}

.btn-timeline{
  cursor: pointer;
  float: right;
  position: absolute;
  color: #9f9f9f;
  margin-top: -3px;
  z-index:3;
}

.delete-timeline{
  right: 15px;
}

.show-timeline{
  right: 55px;
}

.hidden-timeline{
  right: 35px;
}

.cont-new-message{
  width: 100%;
  height: 10px;
  padding: 5px 0;
}

.cont-new-message textarea{
  visibility: hidden;
}

.cont-new-message:hover{
  height: auto ;
  -webkit-transition-duration: 5s; /* Safari */
  transition-duration: 5s;
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  transition-timing-function: linear;
}

.cont-new-message:hover textarea{
  visibility: visible;
}


.cont-new-message input{
  border:1px solid #ccc;
}

/*Css para progress circle*/
.circle-cont{
  width: 100px;
  height: 100px;
  background: #ccc;
  border-radius: 50px
}

.porcentaje-parte{
  font-size: 36px;
  text-align: center;
}

.progress-detail{
  padding-top: 7px;
  font-size: 11px;
  text-align: center;
  color: #90949c;
  font-weight: bold;
}

.progress-kdy{
  margin-bottom: 5px!important;
}

.promp{
  width: 340px;
  position: absolute;
  bottom: 0;
  right: 20px;
  display: block;
}

#barracont{
  position: absolute;
  width: 100%;
  top: 0;
  height: 20px;
  overflow: hidden;
  left: 0;
}

#barracont > div{
  margin: 0!important;
  width:100%;
  padding: 0;
  background-color: #9f9f9f;
}

.container{
  top:0!important;
}

.controls-container{
  height: 35px!important;
}

#control-video{
  height: 35px!important;
}

vg-time-display{
  font-size: 10px!important;
}

.cont-ico{
  float: left;
  font-size: 35px;
  margin-right: 5px;
  margin-top: 7px;
}

.time-alert{
  font-size: 10px;
  text-align: right;
  margin-top: 5px;
}

.list-group{
  overflow-y: auto;
  max-height: 301px;
}

.navbar-krowdy{
  background: #ffcc31 url(../img/barra_top.jpg) left repeat-y;
  border:none;
  -moz-box-shadow: 0px 5px 10px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,.5);
  box-shadow: 0px 5px 10px rgba(0,0,0,.5);
}

.navbar-krowdy > .container-fluid{
  padding-left:0px!important;
  padding-right:0px!important;
}

.kdy-comment{
  background: url(../img/icono_comentarios.png);
  width: 21px;
  height: 20px;
  top: 6px;
  margin-right: 4px;
}

.stick-icon{
  top: 3px;
  margin-right: 7px;
}

.text-header-kdy{
  display: inline-block;
}

/*css para los checkboxes */
input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
  letter-spacing: 0.2pt;
}
input[type="checkbox"]:checked + label:before {
    color: white;
    content: "\2713";
    text-align: center;
}
input[type="checkbox"] + label:before {
    border: 1px solid #616161;
    background-color: #616161;
    border-radius: 2px;
    content: "\00a0";
    display: inline-block;
    font: 12px/1.1em sans-serif;
    height: 12px;
    margin-top: 1.5px;
    margin-right: -3px;
    margin-left: 5px;
    vertical-align: top;
    width: 12px;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
/*-----------------------*/
.kdy-menu-filter{
  right: 0px!important;
  left: auto!important;
}

.kdy-dropdown-ico{
  position: absolute!important;
  right: 12px;
}

.item-filter{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.item-filter:hover{
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
}

#simple-dropdown{
  cursor:pointer;
}

.fondo-candidato{
  background: url(../img/fondo.jpg) center repeat;
}

/* JHM */

.logo-krowdy{
  background: url(../img/logo_krowdy.png) center no-repeat;
  height: 110px;
  width: 300px;
}

.btn-notifyReady{
  position: absolute;
  bottom: 110px;
  left: 15%;
  max-width: 450px;
}

.btn-notifyReady > div{
  font-size: 24px;
}

/*Candidate view*/
.focus-center{
  width: 31px;
  height: 31px;
  position: absolute;
  background-color: #e65100;
  top: 10px;
  left: 48%;
  padding: 3px;
}

.buton-candidate{
  border-radius: 13px;
  background-color: #ffd600;
  color: white;
}

.buton-candidate:hover{
  background-color: #e6e6e6;
}

.title-white,.title-grey{
  padding-top: 14px;
  display: table;
  align-items: center;
  max-width:350px
}

.title-grey{
  min-height: 100px;
}

.title-white{
  color: white;
}

.title-grey{
  color: #616161;
}

.sombraHeader{
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

.content-white{
  color: white;
  font-size: 7.8pt;
}

.vid-thumb{
  height: 100%;
  width: 100%;
  padding-left: 10%;
  margin-bottom: 23px;
}

.separacion{
  letter-spacing: 2px;
}

.icon-vid{
  position: absolute;
  height: 25px;
  width: 25px;
  right: -10px;
  bottom: 10px;
  background-color: white;
  border-radius: 12.5px;
}

.check{
  background: url('../img/check-icon.svg') no-repeat #ffffff;
}

.viewed{
  background: url('../img/view-icon.svg') no-repeat #ffffff;
}

.fade-thumb{
  height: 69%;
  width: 90%;
  margin-left: 10%;
  top: 0;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 15pt;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
}

.videogular-container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 379px;
}

.triangle-right {
  position: absolute;
  left: 0;
  top: 15px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 11px;
  border-color: transparent transparent transparent #ffd600;
}

.video-prev{
  top: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.7 );
  height: 379px;
  width: 100%;
  font-size: 101px;
  color: white;
  text-align: center;
  padding-top: 115px;
}

.panel-candidate{
  background-position: center center;
  margin-top: -15px;
  padding-top: 7.8%;
  padding-bottom: 7%;
}
.col2{
  background-color: white;
  height: 454px;
  -webkit-box-shadow: 0px 4px 22px 5px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 4px 22px 5px rgba(0,0,0,0.36);
  box-shadow: 0px 4px 22px 5px rgba(0,0,0,0.36);
}

.col3{
  background-color: #616161;
  height: 454px;
  -webkit-box-shadow: 7px 3px 20px 5px rgba(0,0,0,0.36);
  -moz-box-shadow: 7px 3px 20px 5px rgba(0,0,0,0.36);
  box-shadow: 7px 3px 20px 5px rgba(0,0,0,0.36);
}

audio{
  width:100%;
}

.cont-ind-webrtc{
  padding: 10px;
  font-size: 14px;
  width: 38px;
  height: 38px;
  text-align: center;
  border-radius: 19px;
  display: inline-block;
}

.webrtc-default{
  background-color: #ffcc31;
}

.webrtc-ok{
  background-color: green;
}

.webrtc-fail{
  background-color: red;
}

.panel-candidate-call{
  height: 615px;
  background-color: white;
}

.sombra-normal{
  -webkit-box-shadow: 2px 7px 8px 1px rgba(158,156,158,1);
  -moz-box-shadow: 2px 7px 8px 1px rgba(158,156,158,1);
  box-shadow: 2px 7px 8px 1px rgba(158,156,158,1);
}

.sombra-interior-isquierda{
  -webkit-box-shadow: inset 5px -1px 6px -2px rgba(194,194,194,1);
  -moz-box-shadow: inset 5px -1px 6px -2px rgba(194,194,194,1);
  box-shadow: inset 5px -1px 6px -2px rgba(194,194,194,1);
}

.sombra-grey{
  -webkit-box-shadow: 0px -1px 5px 0px rgba(163,163,163,1);
  -moz-box-shadow: 0px -1px 5px 0px rgba(163,163,163,1);
  box-shadow: 0px -1px 5px 0px rgba(163,163,163,1);
}

button.accordion {
  color: #616161;
  cursor: pointer;
  padding: 3px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 9pt;
  transition: 0.4s;
}

div.panel-ac {
  margin-bottom: 20px;
  background-color: transparent;
  margin-bottom: -7px !important;
  margin-right: -1px !important;
  border-radius: 0 !important;
}

.question-icon{
  background: url('../img/question_icon.svg') no-repeat;
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: -26px;
}

.scroll-chat{
  overflow-y: auto;
  max-height: 370px;
}

.pane-body-chat{
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 8px;
}

.chat-content{
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 8px;
}

.panel-gray-header{
  padding-top: 8px;
  color: #616161;
  font-weight: bold;
  opacity: 0.99;
  height: 31px;
  width: 77%;
}

.panel-gray-body{
  padding-top: 10px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #000000;
  opacity: 0.7;
  height: 88px;
  width: 77%;
  color: white;
}

.panel-grey{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.selectedCompetence{
  background: #ffd600;
}

.unselectedCompetence{
  background: #ff8f00;
}

.button-question{
  color: #616161;
  text-align: left;
  padding-top: 7px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
  border: none;
  border-radius: 10px;
  background: #d1d1d1;
  outline: none;
  font-weight: 600;
}

.panel-gray-body2{
  color: white;
  padding-top: 6%;
  background: rgba(0,0,0,0.7);
  height: 100%;
}

.panel-gray-footer{
  background: #000000;
  padding-top: 6px;
  height: 32px;
  width: 95.7%;
  color: white;
  position: absolute;
  bottom: 0;
}

.panel-interview-candidate{
  /*position: absolute;
  left: 0;
  right: 0;
  top: 0;*/
  height:100%;
}

.panel-interview-recluider{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.btn-inteviews{
  margin:15px 0 15px 0;
  min-height: 80px;
}

.message-content{
  height: 25%;
  min-height: 90px;
  max-width: 350px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.message-content > b{
  width: 100%;
  text-align: center;
}

.video-control{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 77%;
  text-align: center;
  bottom: 15px;
}

.control-icons{
  cursor: pointer;
}

.cunter-box{
  background: rgba(0,0,0,0.7);
  height: 32px;
  width: 92px;
  margin-right: -5px;
  color: white;
  letter-spacing: 2pt;
  font-size: 15pt;
  text-align: center;
  padding: 2px;
  margin-top: 4px;
}

.tag-employes>a {
  background: #ffd600;
  color: #616161;
}
.uib-tab.tag-employes.active a {
  background: #ffd600;
}
.uib-tab.tag-employes a:hover{
  background: #ffd600;
  color: #616161;
}
.uib-tab.tag-employes.active a:hover{
  background: #ffd600;
  color: #616161;
}
.uib-tab.tag-employes a:focus{
  background: #ffd600;
}
.uib-tab.tag-employes.active a:focus{
  background: #ffd600;
}

.nav-tabs > li > a{
  border: none !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none !important;
  color: #616161 !important;
}

@-moz-document url-prefix() {
  select {padding: 3px 12px;}
}

.dropdown a:focus {
  background-color: transparent !important;
}

.dropdown .open a:focus {
  background-color: transparent !important;
}

.dropdown a:hover {
  background-color: transparent !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent !important;
}

.arrow-nav{
  float: left;
  font-size: 20px;
  color: white;
}

.arrow-nav:hover{
  color: black;
}

.container-fluid{
  height: 100%;
}

.kdy-panel{
  background-color: white;
}
.spaceh-1{height: 1%;}
.spaceh-2{height: 2%;}
.spaceh-3{height: 3%;}
.spaceh-4{height: 4%;}
.spaceh-5{height: 5%;}
.spaceh-6{height: 6%;}
.spaceh-7{height: 7%;}
.spaceh-8{height: 8%;}
.spaceh-9{height: 9%;}
.spaceh-10{height: 10%;}
.spaceh-15{height: 15%;}
.spaceh-20{height: 20%;}
.spaceh-25{height: 25%;}
.spaceh-30{height: 30%;}
.spaceh-35{height: 35%;}
.spaceh-40{height: 40%;}
.spaceh-45{height: 45%;}
.spaceh-50{height: 50%;}
.spaceh-55{height: 55%;}
.spaceh-60{height: 60%;}
.spaceh-65{height: 65%;}
.spaceh-70{height: 70%;}
.spaceh-74{height: 74%;}
.spaceh-75{height: 75%;}
.spaceh-80{height: 80%;}
.spaceh-85{height: 85%;}
.spaceh-90{height: 90%;}
.spaceh-95{height: 95%;}
.spaceh-100{height: 100%;}

.shadow-pan1{
  -webkit-box-shadow: 0px 4px 22px 5px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 4px 22px 5px rgba(0,0,0,0.36);
  box-shadow: 0px 4px 22px 5px rgba(0,0,0,0.36);
}

.dropdown-submenu{
  position:relative;
}
.dropdown-submenu>.dropdown-menu{
  top: -128px;
  width: 410px;
  left: -72px;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
  border-left-color:#ffffff;
}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}
.welcome-pane{
  height: 100px;
}

.footer-video{
  background: #000000;
  padding-top: 9px;
  height: 36px;
  color: white;
}

.cont-interview{
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}

.parent-cont-interview{
  color: white;
  background: rgba(0,0,0,0.7);
}

.btn-init-interview{
  width: 80px;
  height: 80px;
  background: transparent url('../img/ok.svg') no-repeat center;
  border-radius: 40px;
}

.candidate-screen{
  height: 100%;
}

.cont-cand-screen{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.h100{
  height: 100%;
}

.circle-dark,.circle-grey{
  height: 12px;
  width: 12px;
  border-radius: 6px;
  margin-right: 5px;
}

.circle-dark{
  background: #616161;
}

.circle-grey{
  background: #D1D1D1;
}
