.video-call-container {
    position: relative;
    width: 100%;
    /*max-height: 563px;*/
    height: 100%;
}

.video-call-container video {
    /*border: 1px solid #000;*/
    /*-moz-box-shadow: 0px 2px 5px #6b6b6b;
    -webkit-box-shadow: 0px 2px 5px #6b6b6b;
    box-shadow: 0px 2px 5px #6b6b6b;*/
}

/*.video-call-container .video-big,
.video-call-container .video-small {
    border-radius: 3px;
}*/

.video-call-container .video-big {
    width: 100%;
    background: #FFF;
    max-height: 356px;
}

.video-call-container .video-small {
    /*position: absolute;
    top: 10px;
    right: 10px;
    width: 180px;
    height: 135px;*/
    min-height: 483px;
    background: #FFF;
}

.video-call-container .video-controls {
    position: relative;
    bottom: 49px;
    min-height: 45px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
}

.video-call-container .video-controls.ondemand {
    text-align: left;
}

.video-call-container .video-controls .video-btn {
    background: none;
    border: none;
}

.video-call-container .call-timer {
    float: right;
    font-size: 2em;
    position: absolute;
    right: 20px;
}

.video-call-container .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /*background-color: rgba(255,255,255,0.5)*/
}

.video-call-container .loading-spinner > i {
    margin-top: 20%;
}
