<nav class="navbar-default navbar-static-side" role="navigation">
  <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">


        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="product_name">Nombre Producto</label>
                        <input type="text" id="product_name" name="product_name" value="" placeholder="Nombre Producto" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="price">Precio</label>
                        <input type="text" id="price" name="price" value="" placeholder="Precio" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label" for="quantity">Cantidad</label>
                        <input type="text" id="quantity" name="quantity" value="" placeholder="Cantidad" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="status">Estado</label>
                        <select name="status" id="status" class="form-control">
                            <option value="1" selected>Enabled</option>
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                            <tr>

                                <th data-toggle="true">Nombre Producto</th>
                                <th data-hide="phone">Modelo</th>
                                <th data-hide="all">Descripcíon</th>
                                <th data-hide="phone">Precio</th>
                                <th data-hide="phone,tablet">Cantidad</th>
                                <th data-hide="phone">Estado</th>
                                <th class="text-right" data-sort-ignore="true">Acción</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="producto in $ctrl.productos">
                                <td>
                                   {{producto.nombre_producto}}
                                </td>
                                <td>
                                    {{producto.modelo}}
                                </td>
                                <td>
                                    {{producto.meta_tag_keywords}}
                                </td>
                                <td>
                                    ${{producto.precio}}
                                </td>
                                <td>
                                    {{producto.cantidad}}
                                </td>
                                <td>
                                    <span class="label label-primary">{{producto.estado}}</span>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a href="escritorio#/product/detail/{{producto._id}}" class="btn-white btn btn-xs">Ver</a>
                                        <a href="escritorio#/product/edit/{{producto._id}}" class="btn-white btn btn-xs">Editar</a>
                                        <button ng-click="$ctrl.deleteProduct($index, producto)" class="btn-white btn btn-xs">Eliminar</button>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="footer">
        <footer></footer>
    </div>
</div>
