<nav class="navbar-default navbar-static-side" role="navigation">
    <tienda-menu user="$ctrl.userinfo"></tienda-menu>
</nav>

<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <top-navbar></top-navbar>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <location location="$ctrl.location" user="$ctrl.userinfo"></location>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <uib-tabset active="active">
                        <uib-tab index="0" select="alertMe()">
                          <uib-tab-heading>
                            <i class="glyphicon glyphicon-bell"></i> Info. Producto
                          </uib-tab-heading>
                          <div class="panel-body">

                              <fieldset class="form-horizontal">
                                  <div class="form-group"><label class="col-sm-2 control-label">Nombre:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.nombre" class="form-control" placeholder="Nombre Producto"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Precio:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.precio" class="form-control" placeholder="S/. 160.00"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Descripción:</label>
                                      <div class="col-sm-10">
                                          <div id="summernote" class="summernote">
                                              <h3>Titulo</h3>
                                              Descripcion
                                              <br/>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Título Etiqueta:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.tag_title" class="form-control" placeholder="..."></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Descripción Etiqueta:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.tag_desc" class="form-control" placeholder="..."></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Palabras clave Etiqueta:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.tag_keywords" class="form-control" placeholder="Galaxy, iPhone, Samsung"></div>
                                  </div>
                              </fieldset>

                          </div>
                        </uib-tab>


                        <uib-tab index="1" select="alertMe()">
                          <uib-tab-heading>
                            <i class="glyphicon glyphicon-bell"></i> Data Producto
                          </uib-tab-heading>
                          <div class="panel-body">

                              <fieldset class="form-horizontal">
                                  <div class="form-group"><label class="col-sm-2 control-label">ID:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.codigo" class="form-control" placeholder="HCSK-FKL93-DKSL-OS543"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Modelo:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.modelo" class="form-control" placeholder="..."></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Direccíon:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.direccion" class="form-control" placeholder="Dirección"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Clasificación:</label>
                                      <div class="col-sm-10">
                                          <select ng-model="$ctrl.product.clase" class="form-control">
                                              <option>option 1</option>
                                              <option>option 2</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Cantidad:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.cantidad" class="form-control" placeholder="5"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Cantidad Mínima:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.cantidad_min" class="form-control" placeholder="2"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Prioridad - Orden:</label>
                                      <div class="col-sm-10"><input type="text" ng-model="$ctrl.product.prioridad" class="form-control" placeholder="1"></div>
                                  </div>
                                  <div class="form-group"><label class="col-sm-2 control-label">Estado:</label>
                                      <div class="col-sm-10">
                                          <select ng-model="$ctrl.product.estado" class="form-control">
                                              <option value="1">option 1</option>
                                              <option value="2">option 2</option>
                                          </select>
                                      </div>
                                  </div>
                              </fieldset>

                          </div>
                        </uib-tab>


                        <uib-tab index="2" select="alertMe()">
                          <uib-tab-heading>
                            <i class="glyphicon glyphicon-bell"></i> Descuentos
                          </uib-tab-heading>
                          <div class="panel-body">

                              <div class="table-responsive">
                                  <table class="table table-stripped table-bordered">

                                      <thead>
                                      <tr>
                                          <th>
                                              Grupo
                                          </th>
                                          <th>
                                              Cantidad
                                          </th>
                                          <th>
                                              Descuento
                                          </th>
                                          <th style="width: 20%">
                                              Fecha de Inicio
                                          </th>
                                          <th style="width: 20%">
                                              Fecha de Venc.
                                          </th>
                                          <th>
                                              Accíon
                                          </th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr ng-repeat="descuento in $ctrl.product.descuentos">
                                          <td>
                                              <select ng-model="descuento.grupo" class="form-control">
                                                  <option selected value="1">Group 1</option>
                                                  <option value="2">Group 2</option>
                                                  <option value="3">Group 3</option>
                                                  <option value="4">Group 4</option>
                                              </select>
                                          </td>
                                          <td>
                                              <input type="text" ng-model="descuento.cantidad" class="form-control" placeholder="10">
                                          </td>
                                          <td>
                                              <input type="text" ng-model="descuento.descuento" class="form-control" placeholder="$10.00">
                                          </td>
                                          <td>
                                              <div class="input-group date">
                                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                  <input type="text" ng-model="descuento.date_start" class="form-control">
                                              </div>
                                          </td>
                                          <td>
                                              <div class="input-group date">
                                                  <span class="input-group-addon"><i class="fa fa-calendar"></i>
                                                  </span><input type="text" ng-model="descuento.date_end" class="form-control">
                                              </div>
                                          </td>
                                          <td>
                                                  <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                          </td>
                                      </tr>

                                      </tbody>

                                  </table>
                              </div>

                          </div>
                        </uib-tab>


                        <uib-tab index="3" select="alertMe()">
                          <uib-tab-heading>
                            <i class="glyphicon glyphicon-bell"></i> Imágenes
                          </uib-tab-heading>
                          <div class="panel-body">

                              <div class="table-responsive">
                                  <table class="table table-bordered table-stripped">
                                      <thead>
                                      <tr>
                                          <th>
                                              Vista Previa
                                          </th>
                                          <th>
                                              Imagen Url
                                          </th>
                                          <th>
                                              Prioridad / Orden
                                          </th>
                                          <th>
                                              Acción
                                          </th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr ng-repeat="foto in $ctrl.product.fotos">
                                          <td>
                                              <img src="dist/assets/img/gallery/2s.jpg">
                                          </td>
                                          <td>
                                              <input type="text" ng-model="foto.url" class="form-control" disabled>
                                          </td>
                                          <td>
                                              <input type="text" ng-model="foto.orden" class="form-control">
                                          </td>
                                          <td>
                                              <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                          </td>
                                      </tr>
                                      </tbody>
                                  </table>
                              </div>

                          </div>
                        </uib-tab>
                    </uib-tabset>
                    <button type="button" ng-click="$ctrl.saveProduct()" class="btn btn-primary btn-lg">Guardar Producto</button>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <footer></footer>
    </div>

</div>
