/*INIT STYLES MENU*/

html{
  height: 100% !important;
  width: 100% !important;
}

body{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: #dadada;
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden;
  background: url('../img/fondo_late.jpg') repeat;
  background-size: contain;
}

.navbar-header-kdy{
  background: #f36a00 url(../img/icono_abeja.png) center no-repeat;
  min-width: 70px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 70px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.menu-buttons{
  display: none;
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 70px;
}

#sidebar-wrapper {
  z-index: 0;
  position: fixed;
  left: 70px;
  width: 0;
  height: 100%;
  margin-left: -70px;
  overflow-y: auto;
  overflow-x: hidden;
  background: url(../img/barra_late.jpg) repeat;
  background-size: contain;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 70px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -70px;
}

/* Sidebar Styles */

@media(min-width:768px) {
  .menu-buttons{
    display: block;
    position: fixed;
    bottom: 0;
    width: 70px;
  }

  #wrapper {
    padding-left: 70px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 70px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    /* padding: 20px; */
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/*END STYLES MENU*/
.main-container{
  height: 90%;
}

/*Colors from the website*/
/*Orange*/
.orange1{background-color:#ffd600;}
.orange1-text{color:#ffd600;}
.orange1-border{border-color:#ffd600;}

.orange2{background-color:#ffb300;}
.orange2-text{color:#ffb300;}
.orange2-border{border-color:#ffb300;}

.orange3{background-color:#ff8f00;}
.orange3-text{color:#ff8f00;}
.orange3-border{border-color:#ff8f00;}

.orange4{background-color:#f36a00;}
.orange4-text{color:#f36a00;}
.orange4-border{border-color:#f36a00;}
/*Gray*/
.gray1{background-color:#d1d1d1;}
.gray1-text{color:#d1d1d1;}
.gray1-border{border-color:#d1d1d1;}

.gray2{background-color:#9e9e9e;}
.gray2-text{color:#9e9e9e;}
.gray2-border{border-color:#9e9e9e;}

.gray3{background-color:#616161;}
.gray3-text{color:#616161;}
.gray3-border{border-color:#616161;}

.gray4{background-color:#262626;}
.gray4-text{color:#262626;}
.gray4-border{border-color:#262626;}

.gray5{background-color:#131313;}
.gray5-text{color:#131313;}
.gray5-border{border-color:#131313;}

/*Red*/
.red1{background-color:#ff3162;}
.red1-text{color:#ff3162;}
.red1-border{border-color:#ff3162;}

/*Green*/
.green1{background-color:#a7fa90;}
.green1-text{color:#a7fa90;}
.green1-border{border-color:#a7fa90;}

/*white*/
.white1{background-color:white;}
.white1-text{color:white;}
.white1-border{border-color:white;}

/*end colors*/
.width100{
  width: 100%;
}
.height100{
  height: 100%;
}

/*Formato del scrollbar*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(245,245,245,0.5);
}

/*::-webkit-scrollbar
{
width: 12px;
background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #555;
}*/

::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  background: #fe9207;
}

::-webkit-scrollbar-thumb {
  background: #fe9207;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(253,146,7,0.8);
  cursor: pointer;
}

.load-window{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ico-load{
  /*background: url(../img/cube.svg) no-repear center;*/
  width: 54px;
  height: 54px;
}

.menuitem{
  font-size: 9pt;
}
.menuitem a{
  color:white!important;
  text-decoration: none;
}
.menuitem:hover{
  background-color: #d1d1d1;
  color: #616161!important;
}
.pointer{
  cursor: pointer;
}
